* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin: 0 auto;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    font-family: "Sora", sans-serif;
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.btn {
    --height: 60px;
    display: inline-block;
    height: var(--height);
    padding: 0 20px;
    min-width: 205px;
    background: #2e80ce;
    border: 1px solid #2e80ce;
    font-size: 1.8rem;
    color: #fff;
    line-height: var(--height);
    border-radius: 999px;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section__heading {
    font-size: 5rem;
    font-weight: 600;
    color: #10375c;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.section__desc {
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    color: #575f66;
}

.control {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    color: #575f66;
    outline: none;
    background: #fff;
    transition: 0.25s;
}

.control__btn:hover {
    border-color: #2e80ce;
    background: #2e80ce;
    cursor: pointer;
    color: #fff;
}

.control-next-icon {
    transform: rotate(180deg);
}

/* Header */
.header {
    min-height: 100vh;
    background: var(--header-bg);
    padding-top: 30px;
    padding-bottom: 110px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 15px;
    z-index: 1;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.navbar__link.active {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar__link:hover,
.navbar__link.active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link.active::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 8px;
    left: 9px;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
    line-height: 45px;
}

.header-action__login {
    margin-right: 7px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__main-title {
    font-weight: 500;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__content {
    width: 45%;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__call {
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #fff;
}

.hero__media {
    flex-grow: 1;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__image {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__image:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__image:last-child {
    width: 210px;
    height: 410px;
}

/* Services */
.services {
    padding: 170px 0;
}

.services__heading,
.services__desc {
    text-align: center;
}

.services__desc {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.services__container {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: space-between;
}

.services__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.services-box {
    display: flex;
    width: 470px;
    background: #fff;
    border-radius: 10px;
    padding: 22px;
    transition: 0.25s;
}

.services-box:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.services-box:hover .services-box__icon {
    background: #2e80ce;
    color: #fff;
}

.services-box__icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #10375c;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.services-box__body {
    margin-left: 20px;
}

.services-box__heading {
    font-size: 1.8rem;
    font-weight: 600;
    color: #10375c;
    line-height: 1.27;
}

.services-box__desc {
    margin-top: 8px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    color: #575f66;
}

.services__info {
    margin-bottom: 55px;
}

/* How it works */
.work {
    background: #f6fbff;
    padding: 100px 0;
}

.work__desc {
    width: 468px;
}

.work-list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 44px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.25s;
}

.work-item:hover {
    border-color: #2e80ce;
    transform: translateY(-16px);
}

.work-item__heading {
    margin-top: 18px;
    font-size: 2.6rem;
    font-weight: 600;
    color: #10375c;
    line-height: 1.38;
}

.work-item__desc {
    margin-top: 28px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    color: #575f66;
}

.work-item__link {
    display: inline-block;
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2e80ce;
}

/* Feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    width: 332px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.feature__cta {
    margin-top: 38px;
}

/* Member */
.member {
    padding: 85px 0;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member__control {
    justify-content: center;
    margin-top: 38px;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__img-bg {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item__name {
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #10375c;
    line-height: 1.75;
}

.member-item__desc {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #575f66;
}

/* Install */
.install {
    margin-top: 180px;
}

.install__inner {
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2e80ce;
    border-radius: 4px;
}

.install__img {
    display: block;
    width: 284px;
    height: 522px;
    margin-top: -95px;
    object-fit: cover;
}

.install__content {
    max-width: 586px;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    max-width: 489px;
}

.install__row {
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
}

/* News */
.news {
    margin-top: 85px;
    padding: 85px 0;
}

.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    flex-shrink: 0;
}

.news__heading {
    max-width: 470px;
}

.news__more {
    display: inline-block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    color: #10375c;
}

.news__control {
    margin-top: 28px;
}

.news__list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}

.news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}

.news-item:hover {
    transform: translateY(-7px);
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
}

.news-item:hover .news-item__body {
    border-color: #fff;
}

.news-item__thumb {
    display: block;
    width: 100%;
    height: 172px;
    object-fit: cover;
}

.news-item__body {
    background: #fff;
    border: 1px solid #e8ebee;
    border-top: none;
    border-radius: 0 0 12px 12px;
    padding: 24px;
    transition: 0.25s;
}

.news-item__heading {
    font-size: 1.6rem;
    font-weight: 600;
    color: #10375c;
    line-height: 1.62;
}

.news-item__desc {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.716;
    color: #575f66;
}

.news-item__more {
    display: inline-block;
    font-weight: 500;
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #2e80ce;
}

.news-item__more:hover {
    color: #10375c;
}

/* Appointment */
.appointment {
    margin: 85px 0 170px;
}

.appointment__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6fbff;
    padding: 100px 0;
}

.appointment__heading::after {
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    margin: 18px auto 0;
    background: #2e80ce;
}

.appointment__desc {
    max-width: 617px;
    text-align: center;
}

.appointment__cta {
    margin-top: 38px;
}

/* Footer */
.footer {
    font-family: "Open Sans", sans-serif;
    padding-top: 100px;
    background: #10375c;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fff;
}

.footer__desc {
    margin-top: 22px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #a9b3bb;
}

.footer__social,
.footer__list {
    margin-bottom: 28px;
}

.footer__link {
    white-space: nowrap;
    line-height: 1.86;
    font-size: 1.4rem;
    color: #a9b3bb;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__social-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #2e80ce;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: 0.25s;
}

.footer__social-btn:hover {
    background: #2e80ce;
    color: #fff;
    transform: scale(1.1);
}

.footer-form {
    display: flex;
    column-gap: 12px;
    margin-top: 10px;
}

.footer-form__input {
    width: 212px;
    height: 46px;
    padding: 0 10px;
    outline: none;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #406181;
    background: transparent;
}

.footer-form__input::placeholder {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #9ca8b1;
}

.footer-form__submit {
    --height: 46px;

    min-width: 108px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.4rem;
}

.footer__copyright {
    padding: 28px 0 42px;
    border-top: 1px solid #406181;
    text-align: center;
}

.footer__copyright-text {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #aab3ba;
}
