* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin: 0 auto;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.btn {
    --height: 60px;
    display: inline-block;
    height: var(--height);
    padding: 0 20px;
    min-width: 205px;
    background: #2e80ce;
    border: 1px solid #2e80ce;
    font-size: 1.8rem;
    color: #fff;
    line-height: var(--height);
    border-radius: 999px;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header {
    min-height: 100vh;
    background: var(--header-bg);
    padding-top: 30px;
    padding-bottom: 110px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.navbar__link.active {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar__link:hover,
.navbar__link.active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link.active::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 8px;
    left: 9px;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
    line-height: 45px;
}

.header-action__login {
    margin-right: 7px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__main-title {
    font-weight: 500;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__content {
    width: 45%;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__call {
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #fff;
}

.hero__media {
    flex-grow: 1;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__image {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__image:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__image:last-child {
    width: 210px;
    height: 410px;
}
